<!doctype html>
<html lang="en">
<head>
  <title>Columbia landmarks model classification</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<style>
  .pred-container {
    margin-bottom: 20px;
  }

  .pred-container > div {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
  }

  .row {
    display: table-row;
  }
  .cell {
    display: table-cell;
    padding-right: 20px;
  }

  #file-container {
    margin-bottom: 20px;
  }
</style>
{% include head.html %}
<body>
  {{ content }}
{% include footer.html %}
</body>
</html>